@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6{
  color: hsl(229, 31%, 21%);
}

p{
  color: hsl(229, 8%, 60%);
}

img{
    max-width: 100%;
}

li{
    list-style-type: none;
}

nav{
    display: none;
}

hr{
    border-top: 1px solid hsl(229, 8%, 60%);
}

.nav-list-desktop{
    width: 85%;
    margin: 0 auto;
    padding: 1.8rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list-desktop li{
    text-transform: uppercase;
    color: hsl(229, 8%, 60%);
    font-weight: 400;
    cursor: pointer;
}

.nav-list-desktop ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
}

.nav-list-mobile{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-weight: 700;
    padding: 1rem;
    background: hsl(229, 31%, 21%);
    /* z-index: 20; */
    padding-top: 100px;
}

.overlay{
    display: block;
}

.nav-list-mobile li{
    padding: .8rem 0;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    text-transform: uppercase;
}

.login{
    border: 1.5px solid hsl(0, 0%, 100%);
    margin-top: 15px;

}

.mobile-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 1rem 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100vh; */
  }

  .reverse{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .reverse h1{
    font-size: 1.3rem;
  }

  .reverse p{
    font-size: .9rem;
    font-weight: 400;
    margin: 15px 0;
  }

  .btns{
    border-radius: 5px;
    padding: 0.5rem 0.6rem;
    font-weight: 600;
    border: none;
  }

  .btn-1{
    margin-right: 10px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(231, 69%, 60%);
  }

  .btn-2{
    background: hsl(0, 0%, 83%);
    color: hsl(229, 31%, 21%);
  }

  .bookmark{
    text-align: center;
  }

  .features{
    width: 85%;
    margin: 0 auto !important;
    text-align: center;
    padding: 50px 0 20px 0;
  }
  
  .features h2{
    font-size: 1.2rem;
  }

  .features p{
    font-size: .9rem;
    font-weight: 400;
    width: 285px;
    margin: 0 auto;
    padding: 1rem 0;
  }

  .main-features h3{
    font-size: .8rem;
    font-weight: 500;
    padding: 5px 0;
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .main-features h3:hover{
    border-bottom: 3px solid hsl(0, 94%, 66%);
  }


  .main-features h3::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: hsl(0, 94%, 66%);
    transition: width 0.3s, left 0.3s;
  }
  
  .main-features h3.active::after {
    width: 50px;
    left: calc(50% - 25px); 
  }


  .about-features{
    margin: 50px 0;
  }
  
  .about-features img{
    margin: 20px 0;
  }

  .simple-btn{
    background-color: hsl(231, 69%, 60%);
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    border: none;
    font-weight: 400;
    padding: .4rem .8rem;
  }

  .download{
    text-align: center;
  }



  .download header p{
    font-size: .9rem;
    width: 300px;
    /* margin: 0 auto; */
    margin-bottom: 50px;
    text-align: center;
    padding: 5px 0;
  }

  .browser-links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .cards{
    margin: 0 auto;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 75%;
  }

  .cards>*{
    padding: 10px 0;
  }

  .install{
    border: none;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(231, 69%, 60%);
    padding: 0.6rem;
    margin: 5px 0;
    font-weight: 500;
  }

  .accordion{
    width: 85%;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
  }

  .title{
    margin: 20px 0;
  }

  .title h6{
    font-size: 1rem;
    margin: 10px 0;
  }

  .title p{
    font-size: .85rem;
  }

  .question{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem 0;
  }

  .question:hover .quest{
    color: hsl(0, 94%, 66%);
  }

  .quest{
    font-size: .9rem;
    text-align: start;
  }

  .answer{
    font-size: .85rem;
    text-align: start;
    padding-bottom: 0.5rem;
    display: none;

  }

  .accordion hr{
    border-top: .2px solid hsl(0, 0%, 83%);
  }

  .reveal-answer{
    display: block;
  }

  .more-info{
    display: block;
  }

  .info-btn{
    border: none;
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    background-color: hsl(231, 69%, 60%);
    font-weight: 600;
    padding: .6rem .8rem;
    cursor: pointer;
  }

  .contact{
    background-color: hsl(231, 69%, 60%);
    color: hsl(0, 0%, 100%) !important;
    text-align: center;
    padding: 2.5rem 0;
  }

  .contact-us{
    width: 85%;
    margin: 0 auto;
  }

  .contact h6{
    color: hsl(0, 0%, 100%) !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .9rem;
    font-weight: 600;
  }

  .contact p{
    color: hsl(0, 0%, 100%) !important;
    font-size: 1.1rem;
    padding: 1.5rem 0;
    font-weight: 800;
  }

  form input, form button{
    display: block;
    width: 100%;
    border: none;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: .6rem;
    outline: none;
  }

  form button{
    background-color: hsl(0, 94%, 66%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    text-transform: capitalize;

  }

  footer{
    text-align: center;
    background-color: hsl(229, 31%, 21%);
    padding: 3rem 0;
    color: hsl(0, 0%, 100%);
  }

  .footer{
    width: 85%;
    margin: 0 auto;
    text-transform: uppercase;
  }

  .footer>*{
    padding: 0.3rem 0;
  }

  footer li{
    padding: 0.3rem 0;
    letter-spacing: 1px;
    font-size: .9rem;
    cursor: pointer;
  }

  .footer-logo{
    filter: brightness(0) invert(1);
  }

  @media screen and (min-width: 768px) {
    .mobile-menu{
        display: none;
    }

    .overlay{
        display: none !important;
    }

    nav{
        display: block;
    }

    .login{
        margin-top: 0;
        background-color: hsl(0, 94%, 66%);
        color: hsl(0, 0%, 100%) !important;
        padding: 5px 15px;
        border-radius: 5px;
    }

    .reverse{
        margin-top: 50px;
        display: flex;
        flex-direction: row-reverse;
    }

    .bookmark{
        margin-top: 30px;
        text-align: start;
    }

    .main-features hr{
        display: none;
    }

    .main-features{
        display: flex;
        justify-content: center;
        gap: 1rem;
        width: 420px;
        margin: 0 auto;
        border-bottom: .6px solid hsl(0, 0%, 83%);
    }

    .features h2{
        font-size: 1.5rem;
    }

    .features p{
        width: 480px;
    }

    .about-features{
        display: flex;
        gap: 1.5rem;
    }

    .simple-bookmark{
        margin-top: 50px;
        text-align: start;
    }

    .simple-bookmark p{
        width: 400px;
        font-size: 1rem;
    }

    .download header p{
      margin: 0 auto;
      padding-bottom: 50px;
    }

    .browser-links{
      display: flex;
      justify-content: center;
      flex-direction: row;
      width: 80%;
      margin: 0 auto;
    }

    .contact p{
      color: hsl(0, 0%, 100%) !important;
      font-size: 1.3rem;
      padding: 1.5rem 0;
      font-weight: 800;
      width: 300px;
      margin: 0 auto;
    }

    .card-2, .card-3{
      position: relative;
    }

    .card-2{
      top: 20px;
    }

    .card-3{
      top: 40px;
    }

    .accordion{
      width: 60%;
      margin: 0 auto;
    }

    .title h6{
      font-size: 1.2rem;
    }

    .title p{
      font-size: 1rem;
    }

    .question h6{
      font-size: 1rem;
    }

    .answer{
      font-size: .95rem;
    }

    form input, form button {
      display: inline-block;
      width: auto; 
      margin-bottom: 0;
    }
  
    form input {
      width: 30%;
      margin-right: 10px;
    }

    .footer, footer ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    footer ul{
      gap: 1rem;
    }

    footer ul li:nth-child(4){
      margin-bottom: 0 !important;
    }

  }
  
  
  @media screen and (min-width: 1024px) {
    .reverse{
        gap: 3rem;
    }

    .reverse h1{
        font-size: 2rem;
        width: 350px;
    }

    .reverse p{
        font-size: 1.4rem;
    }

    .bookmark{
        margin-top: 70px;
    }

    .bookmark p{
        width: 500px;
        margin: 30px 0;
    }

    .btns{
        padding: .5rem .9rem;
    }
    .tab-img{
        width: 400px;
    }

    .about-features{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .simple-bookmark{
        margin-top: 80px;
    }

    .simple-bookmark p{
        margin: 0;
    }

    .browser-links .cards{
      width: 280px;
      height: auto;
      gap: 0;
      margin: 0;
    }

    .download h5{
      font-size: 1.2rem;
    }

    .download header p{
      font-size: 1rem;
      width: 600px;
    }

    .main-features h3{
      font-size: .98rem;
      font-weight: 500;
    }
  
    .features p{
      font-size: 1rem;
    }
  }